/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-input, .login-button {
    font-family: inherit; /* Ensure buttons inherit the font */
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password-link {
    display: block; /* Change to block to allow centering */
    width: fit-content; /* Adjust width to fit the content */
    margin: 10px auto; /* Top and bottom margin with auto left and right margin for centering */
    padding: 10px 15px;
    background-color: #ffc107; /* Change background color to yellow */
    color: #333; /* Change text color for better contrast, adjust as needed */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.forgot-password-link:hover {
    background-color: #e0a800; /* Darker shade of yellow for hover effect */
}

.password-input-container {
    position: relative;
}

.show-password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}