/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.profile-details, .profile-edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-details p, .profile-logout-button, .profile-edit-form label {
    font-family: inherit; /* Ensure labels inherit the font */
}

.profile-details p, .profile-edit-form input, .profile-edit-form select, .profile-edit-form textarea {
    margin-bottom: 10px;
}

.profile-sign-out-button, .delete-account-button, .edit-profile-button, .profile-edit-form button, .profile-back-to-home-button {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-account-button {
    background-color: #dc3545;
}

.delete-account-button:hover {
    background-color: #c82330;
}

.profile-sign-out-button {
    background-color: #007bff;
}

.profile-sign-out-button:hover {
    background-color: #0056b3;
}

.edit-profile-button, .profile-edit-form button {
    background-color: #ffc107;
}

.edit-profile-button:hover, .profile-edit-form button:hover {
    background-color: #e0a800;
}

/* Additional styles for inputs and labels within the edit form for consistency */
.profile-edit-form input,
.profile-edit-form select,
.profile-edit-form textarea {
    width: 100%; /* Full-width inputs */
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure padding doesn't affect the final width */
}

.profile-edit-form label {
    font-weight: bold; /* Make labels bold */
}

/* Style adjustments for the back button to match other buttons */
.back-button, .profile-save-button {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-save-button {
    background-color: #28a745;
}

.profile-save-button:hover {
    background-color: #218838;
}

.back-button {
    background-color: #007bff;
}

.back-button:hover {
    background-color: #0056b3;
}

.profile-back-to-home-button {
    background-color: #007bff;
}

.profile-back-to-home-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
